            @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
            $primary: #fe721c;
            $primary-bg: linear-gradient(to right,
            #fe951c 0%,
            #fe721c 100%) !important;
            $card-shadow: rgba(0,
            0,
            0,
            0.1) 0px 4px 12px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            b,
            small,
            strong,
            body,
            input,
            optgroup,
            select,
            textarea {
                // font-family: Lato !important;
                color: black;
            }
            
            p {
                color: #6b6b6b;
            }
            
            .subtitle {
                color: #764af1;
                font-size: 17px;
                font-weight: bold;
            }
            
            .container {
                margin: auto;
                max-width: 100%;
                padding-left: 40px;
                padding-right: 40px;
            }
            
            body {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                overflow-x: hidden !important;
                background: linear-gradient(rgb(255, 255, 253), rgb(238, 227, 229));
                width: 100%;
                position: relative;
                min-height: 100vh;
                background-repeat: no-repeat;
                font-family: 'Poppins', sans-serif;
            }

            // BUTTON TO TOP 
            
            #button-scrll {
                
                display: inline-block;
                background-color: #764af1;
                z-index: 9999999999;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border-radius: 20px;
                position: fixed;
                bottom: 30px;
                right: 30px;
                transition: background-color .3s, 
                  opacity .5s, visibility .5s;
                opacity: 0;
                visibility: hidden;
              
              }
              #button-scrll::after {
                content: "\f077";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                font-size: 2em;
                line-height: 60px;
                color: #fff;
              }
              #button-scrll:hover {
                cursor: pointer;
              
              }
              #button-scrll:active {
                background-color: #555;
              }
              #button-scrll.show {
                opacity: 1;
                visibility: visible;
              }
              
            // NAV-BAR PART....................
            nav {
           
                .nav-link {
                    color: #2c2c2c;
                    font-size: 17px;
                    z-index:1;
                }
                .active,
                .nav-link:hover {
                    color: #764af1;
                }
                // NAV DROPDOWNS 
                .dropbtn {
                    border: none;
                }
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    left: 15px;
                    top: 40px;
                    padding: 5px;
                    background-color: white;
                    border-radius: 16px;
                    min-width: 180px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
                .dropdown-content a {
                    color: black;
                    padding: 8px 16px;
                    text-decoration: none;
                    display: block;
                }
                .dropdown-content a:hover {
                    text-decoration: underline !important;
                    color: rgb(141, 60, 195);
                }
                .dropdown:hover .dropdown-content {
                    display: block;
                }
            }
            
            // HEADER PART CSS ...................
            .header {
                z-index: -888888;
                margin-top: 280px;
               
                .left-items {
                    z-index: -9999;
                    h1 {
                        font-size: 60px;
                        margin: 40px 0px;
                        color: black;
                    }
                    .title {
                        font-size: 70px;
                    }
                    p {
                        font-size: 20px;
                        line-height: 2;
                        font-weight: 400;
                        color: #575757;
                    }
                }
                .header-buttons {
                  
                    justify-content: space-between;
                   width: 55%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .h-btn1 {
                        button {
                            width: 180px;
                            position: relative;
                          
                            display: inline-block;
                            background-color: #764af1;
                            padding: 25px 40px;
                            border: none;
                            color: white;
                            cursor: pointer;
                            margin-top: 12px;
                            border-radius: 15px;
                            transition: 0.3s ease-in;
                        }
                        button:hover {
                            background-color: transparent;
                            border: 1px solid #764af1;
                            color: black;
                        }
                    }
                }
            }
            
            // FACILITIES-PART......................
            .row {
                display: flex;
                flex-wrap: wrap;
                .fac-cards {
                    box-shadow: 0px 30px 70px rgba(89, 86, 230, 0.1);
                    border-radius: 20px;
                    background-color: white;
                    padding: 45PX;
                    margin: 12px 0px;
                    .icon {
                        img {
                            margin-bottom: 30px;
                        }
                    }
                    .title {
                        margin-bottom: 20px;
                    }
                    p {
                        margin: 20px 0px;
                    }
                }
            }
            
            // FEEDBACK-PART......................
            .fb-top {
                margin-top: 90px;
                text-align: center;
                margin-bottom: 50px;
                h2 {
                    font-size: 45PX;
                    line-height: 1.5;
                }
            }
            
            .st-item {
                position: relative;
                z-index: 0;
                margin: 10px;
                img {
                    box-shadow: 0px 30px 70px rgba(89, 86, 230, 0.1);
                    border-radius: 20px;
                    width: 100%;
                }
                .content-box:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -4;
                    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(83.41%, #1C2936), to(#1C2936));
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1C2936 83.41%, #1C2936 100%);
                    border-radius: 20px;
                }
                .content-box {
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    z-index: 22222;
                    width: 100%;
                    color: white;
                    h6 {
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
                .video-play-btn {
                    position: absolute;
                    left: 40%;
                    top: 45%;
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    background-color: #764af1;
                    border-radius: 50%;
                    text-align: center;
                    z-index: 4445555554;
                }
                // IMG BOX HOVER 
                .img-box {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    margin: auto;
                    text-align: center;
                }
                .img-box:after {
                    content: "";
                    position: absolute;
                    //    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 0;
                    width: 0;
                    z-index: 44433431;
                }
                .img-box:hover:after {
                    border-radius: 20px;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(to bottom, rgba(108, 122, 226, 0.01) 0, rgba(94, 68, 244, 0.25) 25%, rgba(31, 36, 179, 0.5) 50%, rgba(105, 95, 254, 0.75) 75%, rgba(77, 73, 210, 0.95) 100%);
                    opacity: 0.8;
                    transition: to-lower-case($string: "1%") 0.9s;
                }
            }
            
            // DESTINATIONS-PART........................
            .d-section {
                margin-top: 100px;
                width: 100%;
                background-color: rgba(242, 242, 242, 0.9);
                position: relative;
                .d-top {
                    text-align: center;
                    margin-top: 85px;
                }
                .des-items {
                    margin: 50px 0px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    img {
                        max-width: 100%;
                    }
                    h5 {
                        margin-top: 10px;
                    }
                }
                .d-item {
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid #E4E4E4;
                    border-radius: 20px;
                    display: block;
                    padding: 30px 25px;
                    width: 12%;
                    margin: 10px 14px;
                    transition: 0.3s ease-in;
                }
                .d-item:hover {
                    background-color: white;
                    border: 1px solid white;
                }
                .apply-btn {
                    z-index: 888888;
                }
                .margin {
                    margin-bottom: 180px;
                }
                .mountant {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                .plane {
                    position: absolute;
                    bottom: 100px;
                    right: 20px;
                    animation-name: example;
                    animation-duration: 2s;
                }
                @keyframes example {
                    0% {
                        right: 0px;
                        bottom: 100px;
                    }
                    100% {
                        right: 150px;
                        bottom: 100px;
                    }
                }
            }
            
            // EXPERIENCE-PART.......................
            .ex-container {
                background-color: white;
                padding-top: 100px;
                width: 100%;
                padding: 80px 50px;
              
            }
            
            // ODOMETER .................... 
            .od-section {
                display: flex;
                padding-right: 60px;
                .main {
                    border-left: 3px solid #764af1;
                    background-color: #e0d5ff;
                    width: 80%;
                    max-width: 400px;
                    margin: auto;
                    font-size: clamp(60px, 30vw, 200px);
                    display: flex;
                    flex-direction: column;
                    font-size: 50px;
                    text-align: center;
                    margin-right: 20px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    p {
                        font-size: 13px;
                        color: black;
                        text-align: center;
                    }
                }
                .main .counter {
                    display: block;
                    margin: 0;
                    color: #764af1;
                }
                .main2 {
                    border-left: 3px solid rgb(255, 181, 43);
                    background-color: #f9e49a;
                    width: 80%;
                    max-width: 400px;
                    margin: auto;
                    font-size: clamp(60px, 30vw, 200px);
                    display: flex;
                    flex-direction: column;
                    font-size: 50px;
                    text-align: center;
                    margin: 12px 20px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    p {
                        font-size: 13px;
                        color: black;
                        text-align: center;
                    }
                }
                .main2 .counter2 {
                    display: block;
                    margin: 0;
                    color: orange;
                }
                .main3 {
                    border-left: 3px solid red;
                    background-color: #fde4e4;
                    width: 80%;
                    max-width: 400px;
                    margin: auto;
                    font-size: clamp(60px, 30vw, 200px);
                    display: flex;
                    flex-direction: column;
                    font-size: 50px;
                    text-align: center;
                    margin: 12px 20px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    p {
                        font-size: 14px;
                        color: black;
                        text-align: center;
                    }
                }
                .main3 .counter3 {
                    display: block;
                    margin: 0;
                    color: red;
                }
            }
            
            .categories {
                margin: 60px auto;
                position: relative;
                width: 100%;
                .cat-col-2 {
                    display: flex;
                    button {
                        margin-right: 20px;
                        width: 180px;
                        position: relative;
                        display: inline-block;
                        background-color: #764af1;
                        padding: 25px 40px;
                        border: none;
                        color: white;
                        cursor: pointer;
                        margin-top: 12px;
                        border-radius: 15px;
                        transition: 0.3s ease-in;
                    }
                    button:hover {
                        background-color: transparent;
                        border: 1px solid #764af1;
                        color: black;
                    }
                }
                #cat-items-part {
                    margin-top: 80px;
                    width: 100%;
                    .cat-items {
                        margin: 50px 0px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        border: 1px solid white;
                        width: 100%;
                        h6 {
                            margin-top: 10px;
                        }
                    }
                    .cat-item {
                        background: rgba(255, 255, 255, 0.1);
                        border: 1px solid #E4E4E4;
                        border-radius: 20px;
                        align-items: center;
                        justify-content: center;
                        padding: 30px 25px;
                        width: 12%;
                        margin: 12px 8px;
                        transition: 0.3s ease-in;
                        .cat-img {
                            text-align: center;
                            img {
                                max-width: 100%;
                                margin: auto;
                            }
                        }
                        h6 {
                            margin-top: 30px;
                        }
                    }
                    .cat-item:hover {
                        border: 1px solid blue;
                    }
                }
            }
            
            // STEPS-PART .................... 
            .steps {
                width: 100%;
                position: relative;
                background-color: #FAEAFF;
                .step-items {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                .step-top {
                    padding-top: 130px;
                }
                .steps-flex {
                    width: 90%;
                    margin: auto;
                    padding: 60px 0;
                    .step {
                        width: 19%;
                        margin: 10px 0px;
                        padding: 10px 30px;
                        .step-img {
                            height: 100px;
                            width: 100px;
                            background-color: white;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            position: relative;
                            text-align: center;
                            line-height: 100px;
                            margin: auto;
                        }
                       p {
                            text-align: center;
                            font-size: 17px;
                            margin-top: 20px;
                            font-weight: lighter;
                            color: rgb(72, 72, 72);
                        }
                    }
                }
            }
            
            // LATEST BLOGS...................
            .latest-blog {
                width: 100%;
                position: relative;
                background-color: white;
                .lb-top {
                    padding: 70px 0PX;
                    margin: auto;
                    text-align: center;
                }
                h1 {
                    margin-top: 20px;
                }
                .blog-cards {
                    padding-bottom: 60px;
                    width: 90%;
                    margin: auto;
                    img{
                        width: 100%;
                    }
                }
            }
            
            // FAQ................ 
            .questions{
                background-color: #F2F2F2;
                padding-top: 100px;
                width: 100%;
                padding: 80px 50px;
                .col-left{
                    h1{
                        margin: 25px 0px;
                    }
                    h5{
                        margin: 25px 0px;
                    }
                    .q-btn{
                        margin: 50px 0px;
                    }
                   
                   
                }
              
               /* Custom style */
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
        transform: scale(.7) !important;
      }
      .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      } 

            }
         
            // FOOTER...................
            .footer{
                background-color: #1e1926;
               width: 100%;
                margin: auto;
               .f-top{
display: flex;

width: 67%;
margin: auto;
padding-top: 100px;
padding-bottom: 40px;
align-items: center;
justify-content: center;
                }
                .f-img{
                    width: 110px;
                    height: 110px;
                    line-height: 110px;
                    text-align: center;
                    border-radius: 50%;
                    background: #764af1;
                    margin-right: 40px;
                }
              ul{
                text-align: start;
                
             }
             li{
             list-style: none !important;
                    padding: 12px 0px;
                }
                a{
                    font-weight: lighter;
                    color: rgb(222, 220, 220);
                    text-align: initial;
                }
              }  
               
           
            a,
            i,
            .btn,
            div {
                text-decoration: none !important;
                transition: all 0.3s ease-in-out !important;
            }
            
            textarea {
                outline: 2px solid transparent !important;
                box-shadow: none !important;
            }
            
            input,
            navbar-toggler,
            button,
            input {
                outline: 2px solid transparent !important;
                box-shadow: none !important;
            }
            
            htmll,
            body {
                scroll-behavior: smooth;
            }
            
            html {
                --scrollbarBG: #cfd8dc;
                --thumbBG: #90a4ae;
            }
            
             ::-webkit-scrollbar {
                width: 6px;
            }
            
             ::-webkit-scrollbar-track {
                background: white;
            }
            
             ::-webkit-scrollbar-thumb {
                background: linear-gradient( rgb(253, 224, 79), rgb(89, 89, 220));
            }
            
            .animated {
                animation: up-down 1s ease-in-out;
            }
            
            @keyframes up-down {
                0% {
                    transform: translateY(20px);
                }
                100% {
                    transform: translateY(-2px);
                }
            }
            
            .o-btn {
                background: $primary-bg;
                font-size: 15px;
                height: 50px;
                width: 160px;
                border: none;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                box-shadow: $card-shadow !important;
                align-items: center;
                font-size: 14px;
                letter-spacing: 0.3px;
                color: white;
            }
            
            .hvr-bounce-to-right {
                color: black;
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
            
            .hvr-bounce-to-right:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0px;
                height: 78px;
                background-color: #764af1;
                width: 100%;
                border-radius: 7px;
                // border: 1px solid white !important;
                left: 0px;
                bottom: 0;
                // background: white !important;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            
            .hvr-bounce-to-right:hover,
            .hvr-bounce-to-right:focus,
            .hvr-bounce-to-right:active {
                color: white !important;
                box-shadow: $card-shadow !important;
            }
            
            .hvr-bounce-to-right:hover:before,
            .hvr-bounce-to-right:focus:before,
            .hvr-bounce-to-right:active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
            
            // GHOST BUTTON ANIMATION 
            a .ghost-bttn {
                background-color: white;
                border-radius: 15px;
                text-decoration: none;
                -webkit-transition: 0.3s all ease;
                transition: 0.3s ease all;
                &:hover {
                    color: #FFF;
                }
                &:focus {
                    color: #FFF;
                }
            }
            
            .ghost-bttn {
                padding: 25px 30px;
                
                color: black;
                font-size: 17px;
                border: 1px solid rgb(223, 223, 223);
                display: inline-block;
                text-align: center;
                width: 240px;
                border-radius: 15px;
                position: relative;
                z-index: 999999999;
                &:before {
                    -webkit-transition: 0.5s all ease;
                    transition: 0.5s all ease;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    right: 50%;
                    bottom: 0;
                    opacity: 0;
                    content: '';
                    background-color: #764af1;
                    border-radius: 15px;
                    z-index: -2;
                }
                &:hover {
                    color: white;
                    border-radius: 15px;
                    &:before {
                        -webkit-transition: 0.2s all ease;
                        transition: 0.2s all ease;
                        left: 0;
                        right: 0;
                        opacity: 1;
                    }
                }
                &:focus {
                    &:before {
                        transition: 0.2s all ease;
                        left: 0;
                        right: 0;
                        opacity: 1;
                    }
                }
            }
            
            //   header button.... 
            a .ghost-bttn2 {
                background-color: white;
                border-radius: 15px;
                text-decoration: none;
                -webkit-transition: 0.3s all ease;
                transition: 0.3s ease all;
                &:hover {
                    color: #FFF;
                }
                &:focus {
                    color: #FFF;
                }
            }
            
            .ghost-bttn2 {
                margin-top: 10px;
                padding: 25px 30px;
                color: black;
                font-size: 17px;
                border: 1px solid rgb(223, 223, 223);
                display: inline-block;
                text-align: center;
                width: 150px;
                border-radius: 15px;
                position: relative;
                &:before {
                    -webkit-transition: 0.5s all ease;
                    transition: 0.5s all ease;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    right: 50%;
                    bottom: 0;
                    opacity: 0;
                    content: '';
                    background-color: #764af1;
                    border-radius: 15px;
                    z-index: -2;
                }
                &:hover {
                    color: white;
                    border-radius: 15px;
                    &:before {
                        -webkit-transition: 0.2s all ease;
                        transition: 0.2s all ease;
                        left: 0;
                        right: 0;
                        opacity: 1;
                    }
                }
                &:focus {
                    &:before {
                        transition: 0.2s all ease;
                        left: 0;
                        right: 0;
                        opacity: 1;
                    }
                }
            }
            
            .btn-white {
                background: white;
                font-size: 15px;
                height: 50px;
                width: 160px;
                border-radius: 8px;
                border: none !important;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: $card-shadow !important;
                font-size: 14px;
                color: $primary;
            }
            
            .hvr-bounce-to-right2 {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
            
            .hvr-bounce-to-right2:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0px;
                height: 50px;
                width: 100%;
                border-radius: 7px;
                // border: 1px solid $primary !important;
                left: 0px;
                bottom: 0;
                background: $primary-bg;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            
            .hvr-bounce-to-right2:hover,
            .hvr-bounce-to-right2:focus,
            .hvr-bounce-to-right2:active {
                color: white !important;
                box-shadow: $card-shadow !important;
            }
            
            .hvr-bounce-to-right2:hover:before,
            .hvr-bounce-to-right2:focus:before,
            .hvr-bounce-to-right2:active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }

            .subscribe_form {
                max-width: 470px;
                width: 100%;
                margin: 0 auto;
                box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
                &:focus {
                  outline: none;
                }
                .form-control {
                  border: none;
                  &:focus {
                    box-shadow: none;
                  }
                }
                input {
                    padding: 30px;
                  height: 44px;
                }
                button {
                  border: none;
                  padding: 18px;
             
                  background-color: red;
                  color: #fff;
                  margin: -1px;
                  border-radius: 0;
                  width: 135px;
                  text-transform: uppercase;
                  position: relative;
                  transition: all ease 0.3s;
                  -webkit-transition: all ease 0.3s;
                  -moz-transition: all ease 0.3s;
                  -o-transition: all ease 0.3s;
                  -ms-transition: all ease 0.3s;
                  &:hover, &:focus, &:active, &:visited {
                    color: #fff;
                  
                    outline: none;
                    transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -o-transition: all ease 0.3s;
                    -ms-transition: all ease 0.3s;
                    &:before {
                    
                      transition: all ease 0.3s;
                      -webkit-transition: all ease 0.3s;
                      -moz-transition: all ease 0.3s;
                      -o-transition: all ease 0.3s;
                      -ms-transition: all ease 0.3s;
                    }
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 1px;
                    background-color: red;
                    width: 100%;
                    transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -o-transition: all ease 0.3s;
                    -ms-transition: all ease 0.3s;
                  }
                }
                .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
                  z-index: 2;
                  margin-left: 0px;
                }
              }